$bg-color: #eaeaea;
$white: #f7f7f7;
$text-color:#212121;
$nav-pink:#caa2b3;
$light-pink:#C890A7;
$dark-pink:#a73f6f;
$shadow-color: rgba(0, 0, 0, 0.7);
$nav-color: rgba(0, 0, 0, 0.788);
$svg: rgba(200, 144, 167, .2);
$experience-color:rgba(131, 130, 130, 0.5) ;
$myProjects-bg-color:rgba(208, 208, 208, 0.1) ;
$box-shadow-color:rgba(0, 0, 0, 0.2);


